

<div class="general">
  <form id="general_information">
    <h3>General Information</h3>
    <p>These informations are used by My support and other team.</p>
    <div id="lgn1">
    <div id="Divlocation_name">
      <label for="location_name" class="ScTxt">Location name</label>
    <input id="location_name" placeholder="Input text" class="inputArea"  />
    </div>
    <div id="Divlocation">
    <label for="location_desc" class="ScTxt" >Location Description</label>
    <input id="location_desc" placeholder="Input text" class="inputArea"/>
    </div>
    </div>
    <div id="lgn2">
    <div id="Divaddress">
    <label for="address" class="ScTxt">Number and street name</label>
    <input id="address" placeholder="Input text" class="inputArea"/>
    </div>
    <div id="Divpostal_code">
    <label for="postal_code" class="ScTxt">Postal code</label>
    <input id="postal_code" class="inputArea" placeholder="Input text"/>
    </div>
    <div id="Divcity">
    <label for="city" class="ScTxt">City</label>
    <input id="city" class="inputArea" placeholder="Input text"/>
  </div>
  
  </div>
    <button type="submit" class="Save">Save</button>
  </form> 
  <form id="local_contact_information">
    <h3>Local Contact Information</h3>
    <p>A local contact is mandatory to handle on-site actions</p>
    <div id="localIn">
      <div class="input-container">
        <label for="last_name" class="ScTxt">Last name</label>
        <input class="inputArea" id="last_name" placeholder="Input text" />
      </div>
      <div class="input-container">
        <label for="first_name" class="ScTxt">First name</label>
        <input class="inputArea" id="first_name" placeholder="Input text" />
      </div>
      <div class="input-container">
        <label for="phone" class="ScTxt">Phone</label>
        <input class="inputArea" id="phone" placeholder="Input text" />
      </div>
      <div class="input-container">
        <label for="email" class="ScTxt">E-mail</label>
        <input class="inputArea" id="email" type="email" placeholder="Input text" />
      </div>
    </div>

    <div id="availabity_div">
      <h5 class= "ScTxt">Availability</h5>
      <p class= "ScTxt">(UTC+01:00) Bruxelles, Copenhague, Madrid, Paris</p>
      <button class="select_availability" type="button" class="radio">Manual</button>
      <button class="select_availability" type="button" class="radio">24h/7j</button>
      <button class="select_availability" type="button" class="radio">Weekdays only</button>
      <table id="Admintable">
        <thead>
          <tr>
            <th class="tabDay" scope="col"></th>
            <th class="tabDay" scope="col">Monday</th>
            <th class="tabDay" scope="col">Tuesday</th>
            <th class="tabDay" scope="col">Wednesday</th>
            <th class="tabDay" scope="col">Thursday</th>
            <th class="tabDay" scope="col">Friday</th>
            <th class="tabDay" scope="col">Saturday</th>
            <th class="tabDay" scope="col">Sunday</th>
          </tr>
        </thead>
        <tbody>
          @for (type of ["24h", "AM", "PM"]; track type; let i = $index) {
            <tr>
              <th scope="row">{{type}}</th>
              @for (contactAvailability of contactAvailabilities[i]; let j = $index; track j) {
                <td>
                  <input type="checkbox"[value]="contactAvailability" [checked]="contactAvailability" (click)="checkHandler(i, j)" />
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    <div id="btnSave">
      <button type="submit" class="Save">Save</button>
    </div>
    <div class="scroll"></div>
    </div>
  </form>
  </div>	
