#deliveryEmpty {
  background-color: var(--light-yellow);
  display: flex;
  align-items: center;
}

#deliveryEmpty img {
  margin: 5%;
}

#deliveryEmpty p {
  font-weight: bold;
}

#deliveryInformationsTable thead th {
  font-weight: normal;
}

#deliveryInformationsTable {
  width: 100%;
}

#deliveryInformationsTable th, #deliveryInformationsTable td{
  border-bottom: solid var(--light-grey) 1px;
  padding: 10px 100% 10px 10px;
  /*       top right bottom left */
}

#deliveryInformationsTable tbody > tr:nth-of-type(even) {
  background-color: var(--light-grey);
}
