
    <div id="main">
        @if(this.menu == 2){
        <div class="menu" (click)="setHide2()">
            <div id="icone-titre">
                <img src="../HELP/icone/feuille.svg" alt="png" class="icone">
                <h3 id="information">Administrative Information</h3>
            </div>
            <div class  ="view-more">
                @if(this.open1 == true){
                    <h4>Close</h4>
                    <img src="../HELP/icone/fleche_verticale.svg" alt="png" class="fleche revers icone">
                }
                @else{
                    <h4>View more</h4>
                    <img src="../HELP/icone/fleche_verticale.svg" alt="png" class="fleche icone">
                }
            </div>
        </div>
        }
        @if(this.menu == 1){
        <div class="menu" (click)="setHide()">
            <div id="icone-titre">
                <img src="../HELP/icone/livre.svg" alt="png" class="icone">
                <h3 id="information">Delivery Information</h3>

            </div>
            <div class="view-more">
                @if(this.open2 == true){
                    <h4 id="close">Close</h4>
                    <img src="../HELP/icone/fleche_verticale.svg" alt="png" class="fleche revers icone">
                }
                @else{
                    <h4>View more</h4>
                    <img src="../HELP/icone/fleche_verticale.svg" alt="png" class="fleche icone">
                }
            </div>
        </div>
        }
        @if(this.open1 == true && this.menu == 2){
        <div class="new">
            <app-location-detail-dropdown-administrative></app-location-detail-dropdown-administrative>
        </div>
        }
        @if(this.open2 == true && this.menu == 1){
        <div class="new">
            <app-location-detail-dropdown-delivery></app-location-detail-dropdown-delivery>
        </div>
        }
    </div>
