.revers{
    transform: rotate(180deg);
}

.fleche{
    margin-left: 8%;
}

#main{
    border: solid;
    border-radius: 15px;
    border-color: gray;
    margin: 10px;
}


.Menue{
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-columns: 450px 300px;
    gap: 10px 2em;
}

.Menue:hover{
    cursor: pointer;
    background-color: gray;
    animation: fadeIn 0.3s ease-in-out;
}

#icone-titre{
    grid-column: 1;
    display: flex;
    align-items: center; 
}

#img{
    width: 30px; 
    height: 30px;
}

#txt{
    margin-left: 20px; 
}

.droite{
    display: flex;
    align-items: center;
    grid-column: 5;
    width: 150px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.new{
    animation: fadeIn 0.5s ease-in-out; /* Utilisation de l'animation avec opacité */
    white-space: nowrap; /* Empêcher le texte de sauter à la ligne */
    overflow: hidden; /* Cacher le texte qui dépasse de la div pendant l'animation */
}