
    <div id="main">
        @if(this.menu == 2){
        <div class="Menue" (click)="setHide2()">
            <div id="icone-titre">
                <img src="../assets/icons/feuille.svg" alt="png" id="img">
                <h3 id="txt">Administrative Information</h3>
            </div>
            <div class  ="droite">
                @if(this.open1 == true){
                    <h4>Close</h4>
                    <img src="../assets/icons/fleche_verticale.svg" alt="png" id="img" class="fleche revers">
                }
                @else{
                    <h4>View more</h4>
                    <img src="../assets/icons/fleche_verticale.svg" alt="png" id="img" class="fleche">
                }
            </div>
        </div>
        }
        @if(this.menu == 1){
        <div class="Menue" (click)="setHide()">
            <div id="icone-titre">
                <img src="../assets/icons/livre.svg" alt="png" id="img">
                <h3 id="txt">Delivery Information</h3>
    
            </div>
            <div class="droite">
                @if(this.open2 == true){
                    <h4 id="close">Close</h4>
                    <img src="../assets/icons/fleche_verticale.svg" alt="png" id="img" class="fleche revers">
                }
                @else{
                    <h4>View more</h4>
                    <img src="../assets/icons/fleche_verticale.svg" alt="png" id="img" class="fleche">
                }
            </div>
        </div>
        }
        @if(this.open1 == true && this.menu == 2){
        <div class="new">
            <app-location-detail-dropdown-administrative></app-location-detail-dropdown-administrative>
        </div>
        }
        @if(this.open2 == true && this.menu == 1){
        <div class="new">
            <app-location-detail-dropdown-delivery></app-location-detail-dropdown-delivery>
        </div>
        }
    </div>
