.revers{
    transform: rotate(180deg);
}

.fleche{
    margin-left: 8%;
}

#main{

    margin-right: 3%;
    border: solid;
    border: 2px solid;
    border-color: lightgray;
    margin-top: 1%;
    max-width: 100vw;
}

#icone-titre{
    width: 100%;
}

.Menue{
    
    margin: 5px;
    display: grid;
    grid-template-columns: 35% 20%;
    gap: 10px 2em;
}

#icone-titre{
    margin-left: 10%;
    grid-column: 1;
    display: flex;
    align-items: center; 
}

#img{
    width: 30px; 
    height: 30px;
}

#txt{
    margin-left: 20px; 
}

.droite{
    display: flex;
    align-items: center;
    grid-column: 5;
    width: 80%;
}
