<router-outlet>
  <!-- DEBUT HTML NAVBAR - PAS TOUCHER SINON GOULAG -->

  <header>

    <div id="top-bar">

      <nav>
        <a href="#" class="active">Accueil</a>
        <a href="#">Page 1</a>
        <a href="#">Page 2</a>
        <a href="#">Page 3</a>
      </nav>

    </div>

  </header>

  <div id="bottom-bar">
    <p> Home > Networking > Flexible </p>
  </div>


  <!-- FIN HTML NAVBAR - PAS TOUCHER SINON GOULAG -->

  <div id="content">
    <!-- DEBUT HTML CONTENU - VOTRE SECTION -->
    <app-location-detail></app-location-detail>
    <!-- FIN HTML CONTENU - VOTRE SECTION -->
  </div>
</router-outlet>
