/*
#############################################
     DEBUT STYLE COMMUN - A UTILISER
#############################################
*/

:root
{
  --primary-color: #012c10; /* Le vert pour la navbar et les décors */
  --light-grey: #F4F4F4; /* couleur gris clair alternative pour certains backgrounds */
  --white: #ffffff;
  --grey: #CCCCCC; /* Gris foncé pour les bordures */
  --primary-font: Inter, sans-serif; /* la font utilisée partout */
  --text-color: #000000;
  --header-color: #CFA40B; /* pour certains éléments de texte importants */
  --orange: #F16E00; /* en décoration pour certains éléments interractifs */
  --light-red: #FDE5E6; /* background notification 'inactif' */
  --light-yellow: #FFFAE7; /* background notification 'deliveries' */

  /* A  UTILISER POUR LES STATUTS */
  --active: #3DE35A;
  --degraded: #FFCD0B;
  --inactive: #E70002;
}

/*
#############################################
      FIN STYLE COMMUN - A UTILISER
#############################################
*/

/*
#############################################
      DEBUT STYLE NAVBAR - PAS TOUCHER
#############################################
*/


body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

#top-bar {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bottom-bar
{
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  margin-left: 3%;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#profile
{
  display: inline-flex;
  float:right;
  font-size: 18px;
  color: var(--white);
  text-align: right;
}

#profile-lastname{

  padding-left: 5px;
}
#profile-firstname{
  padding-left: 15px;
}

@media only screen and (max-width: 900px){ /* AFFICHAGE DESKTOP */
  #profile-lastname
  {
    display: none;
  }
  #profile-firstname
  {
    display: none;
  }
}

@media only screen and (min-width: 901px) { /* AFFICHAGE DESKTOP */
  #profile-lastname
  {
    display: flex;
  }
  #profile-firstname
  {
    display: flex;
  }
}

@media screen and (max-width: 610px) /* AFFICHAGE TABLETTE */
{
  #logo-desktop
  {
    display:none;
  }
  #logo-display {
    display:block;
  }
  #bottom-bar
  {
    display: none;
  }


}

@media screen and (min-width: 611px) /* AFFICHAGE TABLETTE */
{
  #content {
    display: flex;
    margin-left: 3%;
  }
  #logo-tablet{
    display:none;
  }
  #logo-desktop{
    display:block;
  }

}


@media screen and (min-width: 546px){ /* AFFICHAGE TELEPHONE */
  #tablet-text
  {
    display: inline-flex;
  }
  #phone-text{
    display:none;
  }
}

@media screen and (max-width: 545px){ /* AFFICHAGE TELEPHONE */
  #tablet-text
  {
    display: none;
  }

  #phone-text{

    margin:auto;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
  }
}

/* Navbar container */
.navbar {
  overflow: hidden;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 18px;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: var(--white);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a golden background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--orange);
  color: black;
}

#logo:hover
{
  background: var(--primary-color);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light-grey);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.fa-caret-down {
  color: var(--orange);
}

.dropdown:hover .img .fa-caret-down {

}

/*
#############################################
      FIN STYLE NAVBAR - NE PAS TOUCHER
#############################################
*/

/*
#############################################
    DEBUT STYLE CONTENU - VOTRE SECTION
#############################################
*/

/*
#############################################
      FIN STYLE CONTENU - VOTRE SECTION
#############################################
*/
