<div id="Title">
    <div id="LocationName">
        <h1>Location name (AZIL)</h1>
        <p>Manage and monitor your location</p>
    </div>
    <div id="cockpit">
        <button id="cockpitButton">COCKPIT
            <img id="cockpitImg" src="../HELP/icone/oeil.svg"/>
        </button>
    </div>
</div>

<div id="Content">

    <div id="LocationId_Status">

        <div id="LocationId">
            <p id="LocationIdTitle">Location Unique ID</p>
            <p id="LocationIdValue">8754-1654eef-54df59-j1zf3</p>
        </div>

        <div id="Status">
            <p id="StatusTitle">Main Status</p>
            <div id="StatusContent">
                <img id="StatusImg" src="../HELP/icone/triangle_rouge.svg"/>
                <p id="StatusValue">Not in production</p>
            </div>
        </div>

    </div>

    <div id="Details">

        <div id="LocationType">
            <p>Location Type</p>
            <p id="LocationTypeValue">Remote</p>
        </div>

        <div id="AttachedRegion">
            <p>Attached Region</p>
            <p id="AttachedRegionValue">EMEA</p>
        </div>

        <div id="AttachedProject">
            <p>Attached Project</p>
            <p id="AttachedProjectValue">Project 2</p>
        </div>

        <div id="VendorDashboard">
            <p>Vendor Dashboard</p>
            <img id="LienImg" src="../HELP/icone/lien.svg"/>
            <a id="VendorDashboardValue" href="">Go to VC Orchestrator</a>
        </div>

    </div>

</div>

