<div id="Title">
    <h1>Location name</h1>
    <p>Manage and monitor your location</p>
</div>

<div id="BigTruc">

    <div id="LocationId_Status">
        
        <div id="LocationId">
            <p id="LocationIdTitle">Location Unique ID</p>
            <p id="LocationIdValue">~ Location Unique ID ~</p>
        </div>

        <div id="Status">
            <p id="StatusTitle">Main Status</p>
            <div id="StatusContent">
                <img id="StatusImg" src="..\assets\img\warning.png"/>
                <p id="StatusValue">~ Main Status ~</p>
            </div>
        </div>

    </div>

    <div id="Details">

        <div id="LocationType">
            <p>Location Type</p>
            <p id="LocationTypeValue">~ Location Type ~</p>
        </div>

        <div id="AttachedRegion">
            <p>Attached Region</p>
            <p id="AttachedRegionValue">~ Attached Region ~</p>
        </div>

        <div id="AttachedProject">
            <p>Attached Project</p>
            <p id="AttachedProjectValue">~ Attached Project ~</p>
        </div>

        <div id="VendorDashboard">
            <p>Vendor Dashboard</p>
            <a id="VendorDashboardValue" href="">Go to ~ VendorName ~</a>
        </div>

    </div>

</div>

