#title{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
}

#locationName{

    grid-column: 1 / 2;
    grid-row: 1;

}

#cockpit{

    grid-row: 1;
    grid-column: 2 / 2;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#cockpitButton{
    
    grid-column: 3 / 3;
    display: inline-block;
    background-color: #F4F4F4;
    border: 0px;
    box-shadow: 0px 0px 0px;
    font-weight: bold;
    width: 80%;
    height: 40%;

}

#cockpitImg{

    margin-left: 5%;
    
}

#content{

    margin-right: 3%;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr; 

}

#locationId_Status{

    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    grid-template-rows: repeat(2, 0.1fr);

}

#locationId{

    grid-row: 1 / 2;

}

#locationIdValue{

    font-weight: bold;

}

#status{

    display: grid;
    grid-row: 2 / 2;

}

#statusContent{
    
    padding-left: 5%;
    display: flex;
    align-items: center;
    width: 70%;
    background-color: var(--light-red);

}

#statusImg{

    width: 30px;
    height: 30px;

}

#statusValue{

    font-weight: bold;

}

#details{

    display: grid;
    grid-column: 2 / 2;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid #F4F4F4;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;

}

#locationType{

    grid-column: 1 / 4;
    grid-row: 1 / 1;

}

#locationTypeValue{

    font-weight: bold;

}

#attachedRegion{

    grid-column: 2 / 4;
    grid-row: 1 / 1;
}

#attachedRegionValue{

    font-weight: bold;

}

#attachedProject{

    grid-column: 3 / 4;
    grid-row: 1 / 1;

}

#attachedProjectValue{

    font-weight: bold;

}

#vendorDashboard{

    grid-column: 4 / 4;
    grid-row: 1 / 1;

}

#vendorDashboardValue{

    font-weight: bold;

}


@media screen and (max-width: 610px) {

    #content{
        display: flex;
        flex-direction: column;
    }

    #details{

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        border: 2px solid #F4F4F4;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 0%;
        padding-bottom: 2%;
        margin-top: 2%;
    
    }

    #locationType{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #attachedRegion{
        grid-column: 2 / 2;
        grid-row: 1 / 2;
    }

    #attachedProject{
        grid-column: 1 / 2;
        grid-row: 2 / 2;
    }

    #vendorDashboard{
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }

    #locationId_Status{
        display: grid;
        margin-top: 0%;
        width: 100%;
    }

    #locationId{
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    #status{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }

    #statusContent{
        width: 90%;
        padding-left: 5%;
        display: flex;
        align-items: center;
        background-color: var(--light-red);
    }

}