<div id="title">
    <div id="locationName">
        <h1>Location name (AZIL)</h1>
        <p>Manage and monitor your location</p>
    </div>
    <div id="cockpit">
        <button id="cockpitButton">COCKPIT
            <img id="cockpitImg" src="../HELP/icone/oeil.svg"/>
        </button>
    </div>
</div>

<div id="content">

    <div id="locationId_Status">

        <div id="locationId">
            <p id="locationIdTitle">Location Unique ID</p>
            <p id="locationIdValue">8754-1654eef-54df59-j1zf3</p>
        </div>

        <div id="status">
            <p id="statusTitle">Main Status</p>
            <div id="statusContent">
                <img id="statusImg" src="../HELP/icone/triangle_rouge.svg"/>
                <p id="statusValue">Not in production</p>
            </div>
        </div>

    </div>

    <div id="details">

        <div id="locationType">
            <p>Location Type</p>
            <p id="locationTypeValue">Remote</p>
        </div>

        <div id="attachedRegion">
            <p>Attached Region</p>
            <p id="attachedRegionValue">EMEA</p>
        </div>

        <div id="attachedProject">
            <p>Attached Project</p>
            <p id="attachedProjectValue">Project 2</p>
        </div>

        <div id="vendorDashboard">
            <p>Vendor Dashboard</p>
            <img id="LienImg" src="../HELP/icone/lien.svg"/>
            <a id="vendorDashboardValue" href="">Go to VC Orchestrator</a>
        </div>

    </div>

</div>

